export("cosine")
export("dimcalc", "dimcalc_share", "dimcalc_kaiser", "dimcalc_ndocs")
export("textmatrix", "textvector")
export("query")
export("getTriple", "setTriple", "delTriple")
export("lw_tf", "lw_logtf", "lw_bintf", "gw_normalisation", "gw_idf", "gw_gfidf", "entropy", "gw_entropy")
export("createLSAspace", "showLSAspace", "foldinLSAspace")
export("print.textmatrix", "summary.textmatrix")
# export("stopwords_de", "stopwords_en")
# import(Rstem)

